# Cloudflare Analytics API
CLOUDFLARE_API_TOKEN=
CLOUDFLARE_ZONE_ID=
NEXT_PUBLIC_FORMS_API="https://script.google.com/macros/s/AKfycbzfzIuFCD3lJW86-gg6OCKiWKN21ce-8PD7XoyvB4MtkwY4WozZUkr6nG-xhRDyC8YG/exec"
CUSTOM_DOMAIN=b3unstoppable.net
TURNSTILE_SECRET_KEY=
NEXT_PUBLIC_TURNSTILE_SITE_KEY=
FORMS_RATE_LIMIT_WINDOW_MS=900000
FORMS_RATE_LIMIT_CONTACT_MAX=5
FORMS_RATE_LIMIT_NEWSLETTER_MAX=8
FORMS_RATE_LIMIT_SUBMIT_MAX=4
# Admin credentials
ADMIN_USERNAME=BreeCharles
ADMIN_PASSWORD=#T@keback2026!
CSRF_TOKEN=